@font-face{
  font-family: "Varsity";
  src:local("Varsity-Regular"),
  url('../assets/varsity_regular.ttf') format('truetype');
}

html {
	--purple-100: #ffffff;
	--purple-95: #f0e6ff;
	--purple-90: #e0ccff;
	--purple-85: #d1b3ff;
	--purple-80: #c299ff;
	--purple-75: #b380ff;
	--purple-70: #a366ff;
	--purple-65: #944dff;
	--purple-60: #8533ff;
	--purple-55: #751aff;
	--purple-50: #6600ff;
	--purple-45: #5c00e6;
	--purple-40: #5200cc;
	--purple-35: #4700b3;
	--purple-30: #3d0099;
	--purple-25: #330080;
	--purple-20: #290066;
	--purple-15: #1f004d;
	--purple-10: #140033;
	--purple-5: #0a001a;
	--purple-0: #000000;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.rotate {
	animation: rotation 2s infinite linear;
	height: 100px;
	width: 100px;
}

.fade-in {
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-color: var(--purple-95) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--purple-5) !important;
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: min(2vh, 2vw);
	min-height: 100vh;
	overflow-x: hidden;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	overflow: auto;
	height: 90vh;
}

.MuiPaper-root {
	padding: 1rem;
}

.app-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}






