@font-face{
  font-family: "Varsity";
  src:local("Varsity-Regular"),
  url('../assets/varsity_regular.ttf') format('truetype');
}

html {
	--color-primary: hsl(260, 100%, 30%);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.rotate {
	animation: rotation 2s infinite linear;
	height: 100px;
	width: 100px;
}

.fade-in {
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.MuiToolbar-root {
	min-height: 3rem !important;
}

body {
	background-color: #ffffff !important;
	color: var(--color-5) !important;
}

a {
	color: var(--color-15) !important;
	text-decoration-color: var(--color-15) !important;
}

a:hover {
	color: var(--color-35) !important;
	text-decoration-color: var(--color-35) !important;
}



#root {
	width: 100%;
	min-height: fit-content;
	height: 100dvh;
	overflow-x: hidden;
}

.MuiPaper-root {
	padding: min(1rem, 2vw);
}

.MuiPaper-root.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	overflow: auto;
	max-height: 90vh;
	max-width: 90vw;
	width: 35rem;

	.sticky {
		position: sticky;
		top: 0;	
		padding: 0.5rem;
		background-color: white;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			font-size: min(5vw, 2rem);
		}

		.close {
			cursor: pointer;
			margin-right: 0.2rem;
			font-size: min(5vw, 2rem);
		}
	}

	.content {
		padding: min(1rem, 2vw);
	}
}

.MuiChartsLegend-label {
	font-size: 1rem;
}



.MuiBottomNavigation-root {
	background-color: #00000000 !important;
}

