.team-selection-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-selection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.search-results-list {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

body {
	background-color: var(--purple-95) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--purple-5) !important;
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	min-height: 100vh;
}

.home-screen-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-overview-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-predictions .MuiBarLabel-root {
	fill: white;
}

.rotate {
	animation: rotation 2s infinite linear;
	height: 100px;
	width: 100px;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.fade-in {
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
	--purple-100: #ffffff;
	--purple-95: #f0e6ff;
	--purple-90: #e0ccff;
	--purple-85: #d1b3ff;
	--purple-80: #c299ff;
	--purple-75: #b380ff;
	--purple-70: #a366ff;
	--purple-65: #944dff;
	--purple-60: #8533ff;
	--purple-55: #751aff;
	--purple-50: #6600ff;
	--purple-45: #5c00e6;
	--purple-40: #5200cc;
	--purple-35: #4700b3;
	--purple-30: #3d0099;
	--purple-25: #330080;
	--purple-20: #290066;
	--purple-15: #1f004d;
	--purple-10: #140033;
	--purple-5: #0a001a;
	--purple-0: #000000;
}