@font-face{
  font-family: "Varsity";
  src:local("Varsity-Regular"),
  url('../assets/varsity_regular.ttf') format('truetype');
}

.ignore-transition {
  view-transition-name: match-element;
  view-transition-class: ignore-transition;
}

::view-transition-group(.ignore-transition) {
  z-index: 1;
}

html {
	--color-primary: #222831;
	--color-secondary: #393E46;
	--color-accent: #00ADB5;
	--color-accent-light: #40C4C6;
	--color-accent-dark: #007C80;
	--color-background: #EEEEEE;
	--color-panel: #FFFFFF;
	--color-green: #4CAF50;
	--color-green-opacity: #4CAF5088;
	--color-red: #F44336;
	--color-red-opacity: #F4433688;
	--color-promotion: var(--color-green);
	--color-relegation: var(--color-red);
	--color-promotion-matches: #81C784;
	--color-relegation-matches: #E57373;
	--color-handhaving: lightgray;
	--color-champion: #FFD700;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.rotate {
	animation: rotation 2s infinite linear;
	height: 100px;
	width: 100px;
}

.fade-in {
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.MuiToolbar-root {
	min-height: 3rem !important;
}

html {
	overflow: hidden;
}

body {
	background-color: var(--color-background) !important;
	overflow: hidden;
}

.MuiBottomNavigationAction-root {
	color: white !important;
	text-decoration: none !important;
}

a {
	color: var(--color-accent-dark) !important;
	text-decoration: underline var(--color-accent-dark) !important;
}

.bottom-navigation-0::before {
	width: 25%;
	height: 100%;
	background-color: #ffffff33;
	border-radius: 100%;
}

#root {
	width: 100%;
	min-height: fit-content;
	height: var(--app-height);
	overflow: hidden;
}

.MuiPaper-root {
	padding: min(1rem, 2vw);
}

.MuiPaper-root.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	overflow: auto;
	max-height: 90vh;
	max-width: 90vw;
	width: 35rem;

	.sticky {
		position: sticky;
		top: 0;	
		padding: 0.5rem;
		background-color: white;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			font-size: min(5vw, 2rem);
		}

		.close {
			cursor: pointer;
			margin-right: 0.2rem;
			font-size: min(5vw, 2rem);
		}
	}

	.content {
		padding: min(1rem, 2vw);
	}
}

.MuiChartsLegend-label {
	font-size: 1rem;
}

.MuiBottomNavigation-root {
	background-color: #00000000 !important;
}

.MuiBadge-badge {
	background-color: var(--color-accent) !important;
}
