.club-page {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	height: 100%;
	align-self: flex-start;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}

	.club-info {
		.club-logo {
			height: 100px;
			object-fit: contain;
			display: block;
		}

		.club-map {
			width: 100%;
			height: 300px;
			border: 0;
		}
	}

	.teams {
		.type {
			margin-right: 1rem
		}

		.team {
			margin-bottom: 0.5rem;
		}

		.team:last-of-type {
			margin-bottom: 0;
		}

		.stand-tekst {
			margin-top: -0.2rem;
			line-height: 1;
		}

		.type-accordion {

			.MuiAccordion-heading {
				all: inherit;
			}
		}

		.team-link {
			display: block;
		}
	}
}