.standing {
	container-type: inline-size;

	.poule-name {
		font-weight: bold;
	}

	.team-position-cell {
		font-weight: bold;
		font-size: 1.2rem;
	}

	.table-container {
		overflow-x: auto;
		width: 100%;
	}

	td,
	th {
		padding: 1rem 0.5rem;
		border-bottom: none;
	}

	tr:last-child {
		border: none;
	}

	tr:first-child,
	tr {
		border-bottom: 1px solid var(--border-color);
	}

	td:nth-child(2),
	td:nth-child(3),
	td:nth-child(7),
	td:nth-child(8),
	th:nth-child(2),
	th:nth-child(6),
	th:nth-child(7) {
		border-left: 1px solid var(--border-color);
	}

	td:nth-child(1) {
		min-width: 12cqw;
		max-width: 12cqw;
	}

	td:nth-child(2) {
		min-width: 34cqw;
		max-width: 34cqw;
	}

	td:nth-child(3) {
		min-width: 9cqw;
		max-width: 9cqw;
	}

	td:nth-child(4) {
		min-width: 9cqw;
		max-width: 9cqw;
	}

	td:nth-child(5) {
		min-width: 9cqw;
		max-width: 9cqw;
	}

	td:nth-child(6) {
		min-width: 9cqw;
		max-width: 9cqw;
	}

	td:nth-child(7) {
		min-width: 17cqw;
		max-width: 17cqw;
	}

	@media screen and (max-width: 850px) {

		td,
		th {
			padding: 0.5rem;
		}
	}

	.highlight {
		background-color: var(--highlight-color);
		font-weight: bold;
	}

	td {
		font-weight: inherit;
	}
}

.dark .standing {
	* {
		color: white !important;
	}

	a {
		color: var(--color-accent-light) !important;
		text-decoration: underline var(--color-accent-light) !important;
	}
}

.standing.framed {
	--border-color: #ccc;
	--highlight-color: var(--color-background);
}

.dark .standing.framed {
	--border-color: #555;
	--highlight-color: var(--color-background);
}

.standing.main {
	--border-color: #555;
	--highlight-color: var(--color-panel);
}

.dark .standing.main {
	--border-color: #777;
	--highlight-color: var(--color-panel);
}

.dark .consistency-scores-table {
	* {
		color: white !important;
	}
}
