.match {
	background-color: var(--color-90);
	flex-direction: column;
	align-items: center;
	padding: min(1vw, 0.5rem);
	border-radius: 8px;
	border: 1px solid var(--color-50);
	width: 40rem;
	contain: content;

	@media screen and (max-width: 1300px) {
		max-width: 100%;
	}

	.poule {
		line-height: 1;
	}


	.match-teams-and-result-or-time {
		display: grid;
		grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
		gap: 0.5rem;
		align-items: center;
		margin: 0.5rem 0;
		align-content: center;
		justify-content: center;
		justify-items: center;
		width: 100%;

		.match-result-or-time {
			position: relative;
			z-index: 1;
			text-align: center;
			background-color: var(--color-30);
			padding: 0.7rem;
			border-radius: 12px;
			font-weight: bold;
			color: white;
		}

		.match-result-or-time.won {
			background-color: darkgreen;
		}

		.match-result-or-time.lost {
			background-color: darkred;
		}

		.team-name-and-logo {
			display: grid;
			align-items: center;
			gap: 0.3rem;

			.team-name {
				text-align: center;
				word-break: break-word;
				line-height: 1.2;
			}

			.team-logo {
				width: 100%;
				aspect-ratio: 3.5/2;
				object-fit: contain;
				background-color: white;
				padding: 0.2rem;
				border-radius: 8px;
				border: 1px solid #ccc;
				align-self: center;
				overflow: hidden;
			}
		}

		.team-name-and-logo.highlighted {
			.team-name {
				font-weight: bold;
			}
		}

		.team-name-and-logo.left-team {
			flex-direction: row;
			grid-template-columns: 2fr 1fr;
		}

		.team-name-and-logo.right-team {
			flex-direction: row-reverse;
			grid-template-columns: 1fr 2fr;
		}

		@media screen and (max-width: 600px) {
			.team-name-and-logo {
				display: flex;
				height: 100%;
				justify-content: start;
			}

			.team-name-and-logo.left-team {
				flex-direction: column-reverse;
			}

			.team-name-and-logo.right-team {
				flex-direction: column;
			}
		}
	}
}

.sets-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0.5rem;
	width: 100%;
	justify-content: center;

	.set {
		background-color: var(--color-30);
		padding: 0.35rem;
		border-radius: 8px;
		color: white;
		text-align: center;

		p {
			text-wrap: nowrap;
		}
	}

	.set.won {
		background-color: darkgreen;
	}

	.set.lost {
		background-color: darkred;
	}
}

.match-prediction {
	width: 100%;
}

button.favourite-button, button.share-button {
	background-color: var(--color-95);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.3rem;
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	border-color: var(--color-30);
	color: var(--color-30);

	p {
		margin: 0;
		line-height: 1;
	}

	svg {
		font-size: 2rem;
	}
}

button.favourite-button:hover, button.share-button:hover {
	background-color: var(--color-90);
}

button.favourite-button {
	width: 35ch;
}
button.share-button {
	width: 14ch;
}

button.notifications-fab {
	background-color: var(--color-30) !important;
	color: white;
	position: fixed;
	top: 8px;
	right: 8px;

	.MuiBadge-badge {
		background-color: var(--color-70);
	}
}

.MuiPaper-root.notifications-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	overflow: auto;
	height: 90vh;
	width: 90vw;
	background-color: var(--color-95);

	.modal-header {
		position: sticky;
		top: 0;
		padding: 0.5rem;
		display: flex;
		justify-content: space-between;
		background-color: var(--color-30);

		.close {
			cursor: pointer;
			font-size: min(2.5rem);
			color: white;
			padding: 0.2rem;
			border-radius: 8px;
			background-color: var(--color-5);
		}
	}

	.notifications-list {
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.notification-item {
			border: var(--color-30) 1px solid;
			border-radius: 8px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			background-color: var(--color-90);
			gap: 1rem;

			.notification-text {
				flex: 1;
				word-break: keep-all;
			}
		}
	}
}

.standing {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 8px;
	overflow-x: auto;
	width: 100%;

	.poule-name {
		font-weight: bold;
	}

	.team-position-cell {
		font-weight: bold;
		font-size: 1.2rem;
	}

	td,
	th {
		padding: 1rem 0.5rem;
		border-bottom: none;
	}

	tr:last-child {
		border: none;
	}

	tr:first-child,
	tr {
		border-bottom: 1px solid var(--color-0);
	}

	td:nth-child(1),
	th:nth-child(1),
	td:nth-child(2),
	th:nth-child(2),
	td:nth-child(6),
	th:nth-child(6),
	td:nth-child(10),
	th:nth-child(10) {
		border-right: 1px solid var(--color-0);
	}

	td:nth-child(2) {
		min-width: 15ch;
	}

	@media screen and (max-width: 850px) {
		td,
		th {
			padding: 0.5rem;
		}
	}

	.highlight {
		background-color: var(--color-85);
		font-weight: bold;
	}

	td {
		font-weight: inherit;
	}
}
