.team-selection-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-selection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}

.home-screen-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	.title {
		font-size: min(6rem, 14vw);
		text-align: center;
		text-decoration: underline;
		font-family: 'Varsity', sans-serif;
		color: var(--purple-20)
	}

	.search {
		padding: min(1rem, 2vw);
		width: 40rem;
		max-width: 100%;

		.search-results {
			height: min(25rem, 40vh);
			text-align: center;
			width: 100%;
			background-color: var(--purple-90);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;

			.no-result {
				padding: 1rem;
			}

			.results-list {
				height: 100%;
				padding: 0;
				width: 100%;

				p {
					margin-left: 0.5rem;
				}
			}
		}
	}
}