.team-selection-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-selection {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 0.2rem;
	flex-direction: column;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	.MuiOutlinedInput-notchedOutline {
		color: white;
		border-color: white;
	}

	.MuiFormControl-root svg {
		color: white;
	}

	.MuiFormControl-root input {
		color: white;
	}

	.MuiFormLabel-root {
		color: white;
	}
}