.team-selection-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-selection {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 0.2rem;
	flex-direction: column;
	align-items: center;
}

.MuiInputBase-root {
	background-color: white;
	border-radius: 32px !important;
}