.team-selection-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-selection {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 0.2rem;
	flex-direction: column;
	align-items: center;
}

.home-screen-container {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-self: flex-start;

	.title {
		font-size: min(6rem, 14vw);
		text-align: center;
		text-decoration: underline;
		font-family: 'Varsity', sans-serif;
		color: var(--color-20);
	}

	.hide-on-search {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.2rem;
		margin-bottom: 1rem;
		transition: max-height 0.3s ease-out, margin-bottom 0.3s ease-out;

		@media screen and (max-width: 600px) {
			max-height: 25vh;
		}
	}

	.hide-on-search.with-install-button {
		@media screen and (max-width: 600px) {
			max-height: 25vh;
		}
	}

	.hide-on-search.hide {
		@media screen and (max-width: 600px) {
			max-height: 0;
			margin-bottom: 0;
		}
	}

	.install-pwa-button {
		background-color: var(--color-30);
	}

	.search {
		width: 40rem;
		max-width: 100%;
		transition: max-height 0.3s ease-out;
		padding: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.search-input {
			color: var(--color-30);

			.Mui-focused .MuiOutlinedInput-notchedOutline {
				border-color: var(--color-30);
			}

			.MuiFormLabel-root.Mui-focused {
				color: var(--color-30);
			}
		}

		.recent-container, .favourites-container, .random-container, .nearby-container {
			display: flex;
			height: 100%;
		}

		.tabs {
			border-bottom: 1px solid lightgray;

			.MuiTab-root {
				color: var(--color-0);
			}
			.MuiTab-root.Mui-selected {
				color: var(--color-25);
			}
			.MuiTab-root:hover {
				background-color: var(--color-95);
			}

			.MuiTabs-indicator {
				background-color: var(--color-20);
			}
		}

		.MuiTabs-list {
			button {
				padding: 0 0.75rem;
				min-width: fit-content;
			}
		}

		.tab-panel {
			flex: 1;
			padding: min(1rem, 2vw);
			overflow: hidden;
		}

		.search-results {
			overflow: hidden;
			flex-grow: 1;
			text-align: center;
			width: 100%;
			background-color: var(--color-90);
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;

			.no-result {
				padding: 1rem;
			}

			.results-list {
				height: 100%;
				padding: 0;
				width: 100%;

				.entry {
					padding: 0.5rem 0.5rem;
					text-wrap: nowrap;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
					max-width: 100%;
					display: flex;

					&:hover {
						background-color: var(--color-85);
					}

					.entry-icon-and-title {
						display: flex;
						align-items: center;
						cursor: pointer;
						flex-grow: 1;
						min-width: 0;

						.entry-title {
							flex-grow: 1 1 0;
							margin: 0;
							min-width: 0;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}



					.favourite-marker {
						margin-left: auto;
						flex-shrink: 0;
					}
				}
			}
		}
	}
}