.match-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 1rem;

  .MuiPaper-root {
    width: 100%;
  }
}

button.share-button {
  background-color: var(--color-30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}