.match-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 1rem;

  .other-encounters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  } 
}