.select-metric-button-group {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;

  button {
    flex: 1;
  }

  .MuiButton-contained {
    background-color: var(--color-accent-dark) !important;
    color: white !important;
  }

  .MuiButton-outlined {
    border-color: var(--color-accent) !important;
    color: var(--color-accent-dark) !important;
  }
}

.dark .select-metric-button-group {
  .MuiButton-contained {
    background-color: var(--color-accent-light) !important;
    color: black !important;
  }

  .MuiButton-outlined {
    border-color: var(--color-accent-light) !important;
    color: var(--color-accent-light) !important;
  }
}

.most-surprising-results-paper {
  .most-surprising-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.result-shares-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.MuiButton-contained {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.MuiButton-outlined {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}
