.team-standings {
	padding: min(1rem, 2vw);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.standing {
		display: flex;
		flex-direction: column;
		background-color: var(--purple-90);
		padding: 1rem;
		border-radius: 8px;
		overflow-x: auto;
		margin-top: 1rem;
		width: 100%;

		td,
		th {
			border-bottom: 1px solid var(--purple-85);
		}

		.highlight {
			background-color: var(--purple-80);

		}
	}
}